@keyframes spin-counter-clockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes spin-clockwise {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes zoom-out {
    from {
        transform: scale(1.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes device-gallery-slideshow {
    0% {
        background-image: url('../assets/images/jpgs/reactmaster\(iPhone\ X\).jpg');
        animation-timing-function: ease-in;
    }

    25% {
        background-image: url('../assets/images/jpgs/screenshot2.jpg');
        animation-timing-function: ease-in;
    }

    50% {
        background-image: url('../assets/images/jpgs/screenshot2.jpg');
        animation-timing-function: ease-out;
    }

    75% {
        background-image: url('../assets/images/jpgs/reactmaster\(iPhone\ X\).jpg');  
        animation-timing-function: ease-in;     
    }

    100% {
        background-image: url('../assets/images/jpgs/reactmaster\(iPhone\ X\).jpg');  
        animation-timing-function: ease-out;     
    }
  }