.Search-results-outer-container {
    height: 0;

    .triangle {
        left: 0;
        margin: 0 auto;
        right: 0;
        height: 13px;
        width: 13px;
        position: relative;
        top: -16px;
        z-index: 450;
        border: none;
        visibility: hidden;
        

        &.active {
            visibility: visible;
        }

        &::after {
            content: "▲";
            color: white;
            position: absolute;
            border-width: 3px;
            font-size: 0.85rem;
            text-shadow: 0 -3px 4px rgba(0, 0, 0, 0.08);
            transform: scaleX(2.1);
        }
    }
}


.Search-results-container {
    width: 245px;
    overflow: auto;
    max-height: 354px;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translate(-50%, -17px);
    border-radius: 2px;
    visibility: hidden;
    z-index: 400;

    &.active {
        visibility: visible;
    }

   
    .Search-results-inner-container {
        height: 100%;

        .Search-results-list {
            z-index: 20;
            position: relative;
            height: 100%;
            overflow: scroll;

            .Search-results-list-item {
                height: 65px;
                padding: 10px;
                border-bottom: solid rgba(0, 0, 0, 0.08);
                border-width: 1px;
                cursor: pointer;
        
                &:hover {
                    background-color: $offWhite;
                }
            
                .Search-results-item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    margin-top: -3px;
        
                    .Search-result-left {
                        width: 31px;
                        height: 31px;
                        background-image: url('https://res.cloudinary.com/wristing/image/upload/v1573076412/reactagram/profile%20pictures/default_avatar.jpg');
                        background-size: cover;
                        background-position: center;
                        border-radius: 50%;
                        margin: 13px 10px 0 5px;
                        border: solid rgba(0, 0, 0, 0.1);
                        border-width: 1px;
                        }
                
                    .Search-result-right {
                        height: 100%;
                        width: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 0.95rem;
                
                        .Search-result-username {
                            font-weight: 600;

                            .Verified {
                                background-image: url('../assets/images/pngs/verified-checkmark.png');
                                background-size: cover;
                                background-position: center;
                                height: 16px;
                                width: 16px;
                                display: inline-block;
                                transform: translateY(2px);
                                image-rendering: -webkit-optimize-contrast;
                            }
                        }
                
                        .Search-result-name {
                            opacity: 0.5;
                        }
                    }
        
                }
            }
        }
    }
}